body {
    margin: 0;
    /* padding: 20px; */
    padding-left: 20px;
}

#carousel {
    width; 100%;
    margin: auto;
    background-color: white;
    text-align: center;
    background-color: #ffe6ff;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.section__header h1 {
    font-size: 40px;
    font-weight: 600;
    color: #213444;
}

.section__header .buttons img {
    width: 100px;
}

#itens {
    overflow-x: auto;
    width: 100%;
    display: inline-block;
}

.item img {
    width: 550px;
    height: 350px;
    margin: 15px;
}

#itens ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    
}